* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #292931;
}

.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 65rem;
    background-color: #292931;

    padding: 1.5rem;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
        justify-content: flex-start;
    align-content: space-between;
}

.container input {
    width: 0;
    height: 0;
}

.slider-container{
    width: 100%;
    height: 80%;
    background-color: #292931;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide{
    height: 100%;
    width: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: transform ease-in-out .5s;
    -webkit-transition: transform ease-in-out .5s;    
}

.item1 { background-image: url(img/slide1.jpg); }
.item2 { background-image: url(img/slide2.jpg); }
.item3 { background-image: url(img/slide3.jpg); }
.item4 { background-image: url(img/slide4.jpg); }
.item5 { background-image: url(img/slide5.jpg); }

#item1:checked ~ .slider-container .item1,
#item2:checked ~ .slider-container .item2,
#item3:checked ~ .slider-container .item3,
#item4:checked ~ .slider-container .item4,
#item5:checked ~ .slider-container .item5 {
    width: 100%;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.subscribe-container{
    width: 70%;
    height: 10%;
    background-color: 292931;
}

.subscribe{
	width: 100%;
    height: 0%;
    color: #292931;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform ease-in-out .5s;
    -webkit-transition: transform ease-in-out .5s;    
}

#item1:checked ~ .subscribe-container .sitem1,
#item2:checked ~ .subscribe-container .sitem2,
#item3:checked ~ .subscribe-container .sitem3,
#item4:checked ~ .subscribe-container .sitem4,
#item5:checked ~ .subscribe-container .sitem5 {
    color: whitesmoke;
    height: 100%;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.controls-container {
    width: 30%;
    height: 10%;
    background-color: #292931;
    margin-left: auto;
    min-width: 6rem;
    height: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.controls-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
}

.controls-container label:hover {
	cursor: pointer;
}

.controls-container label:hover .button{
	border: 0.125rem solid whitesmoke;
    background-color: whitesmoke;
}

.controls-container label:active .button{
    transform: scale(1.5);
    transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
}

.controls-container .button {
	display: block;
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	border: 0.125rem solid #faca00;
    background-color: #faca00;
	-webkit-border-radius: 50%;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}

#item1:checked ~ .controls-container label:nth-of-type(1) .button,
#item2:checked ~ .controls-container label:nth-of-type(2) .button,
#item3:checked ~ .controls-container label:nth-of-type(3) .button,
#item4:checked ~ .controls-container label:nth-of-type(4) .button,
#item5:checked ~ .controls-container label:nth-of-type(5) .button {
	background: inherit;
}

@media (max-width: 480px){
    .slider-container{
        height: 60%;
        order: 0;
    }
    .controls-container{
        width: 100%;
        justify-content: center;
        order: 1;
    }
    .subscribe-container{
        width: 100%;
        order: 2;
        width: 100%;
    }
}